<div class="container">
  <div class="columns is-centered">
    <div class="column is-7">
      <h1 class="is-size-3">詳細検索</h1>
      <%= form_tag "/advanced_search", method: :get do %>
        <div class="field">
          <label class="label">タイトル</label>
          <div class="control">
            <%= text_field_tag :board, params[:board], class: 'input', placeholder: 'title' %>
          </div>
        </div>

        <div class="field">
          <label class="label">ジャンル</label>
          <div class="control">
            <div class="select">
              <%= select_tag :genre, options_for_select(@genre_array_plus, :selected => params[:genre]) %>
            </div>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <%= submit_tag '検索', class: "button is-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="is-centered columns">
    <div class="column is-size-3 is-4">
      検索結果
    </div>
  </div>
  <div class="columns is-centered">
    <div class="boards-box column is-7 is-size-6">
      <% if @boards.blank? %>
        <p>条件に一致する結果は見つかりませんでした</p>
      <% else %>
        <% @boards.each do |board| %>
          <div class="board">
            <p><%= link_to "", "/board/#{board.id}" %><span><%= board.created_at.strftime("%Y-%m-%d") %>  <%= board.title %></span></p>
          </div>
        <% end %>
        <%= paginate @boards %>
      <% end %>
    </div>
  </div>
</div>
